.toolbar {
	padding: 5px;
	float: right;
}

body {
	margin: 0;
	min-width: 998px;
}

#content {
	width: 100%;
	overflow: hidden;
	padding-top: 70px;
}

#footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	background: #37474F;
	padding: 40px 0px;
	text-align: center;
	color: white;	
}
